$white: rgba(255, 255, 255, 1);
$white2: rgba(255, 255, 255, 0.35);
$white3: rgba(250, 250, 250, 1);
$white4: rgba(255, 255, 255, 0.8);
$white5: rgba(238, 248, 251, 1);
$white6: rgba(255, 255, 255, 0.75);
$white7: rgba(255, 255, 255, 0.6);


$gray: rgba(255, 255, 255, 0.2);
$gray2: rgba(255, 255, 255, 0.6);
$gray3: rgba(255, 255, 255, 0.3);
$gray4: rgba(34, 39, 43, 1);
$gray5: rgba(246, 251, 253, 0.28);
$gray6: rgba(246, 251, 253, 0.6);

$gray7: rgba(246, 251, 253, 0.3);
$gray8: rgba(250, 250, 250, 0.16);
$gray9: rgba(77, 82, 91, 1);

$primary: rgba(68, 76, 231, 1);

$black: rgba(6, 6, 9, 1);
$black2: rgba(6, 6, 9, 0.8);
$black2: rgba(6, 6, 9, 0.8);
$black3: rgba(22, 26, 29, 1);

$red: rgba(247, 59, 59, 1);

$green:rgba(36, 195, 142, 1);

$max-width-1920: 1920px;
$max-width-1650: 1650px;
$max-width-1500: 1500px;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$max-width-1300: 1300px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
$max-width-400: 400px;
