@use "../../assets/scss/variables";
@use "../../assets/scss/mixin";

.hero-section {
  padding: 312px 0 23px 0;
  min-height: 780px;
  position: relative;

  @include mixin.screen-max-width-767 {
    padding: 192px 0 0 0;

  }

  @include mixin.screen-max-width-576 {
    min-height: 568px;

  }
}



.hero-sub-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
  color: variables.$gray2;
  margin-top: 24px;

  @include mixin.screen-max-width-767 {
    font-size: 14px;
    line-height: 21px;
    text-align: center;

  }

}

.hero-info {
  gap: 56px;
  margin-top: 56px;

  @include mixin.screen-max-width-576 {
    gap: 32px;
    margin-top: 32px;
  }
}



.trends-section {
  margin-top: 120px;

  @include mixin.screen-max-width-767 {
    margin-top: 40px;
  }
}

.trends-item {
  flex: 1 1 46%;
  padding: 32px;
  background: radial-gradient(350.96% 579.04% at 132.38% 100%, #444CE7 0%, rgba(0, 0, 0, 0) 16%);
  border: 1px solid variables.$gray;
  border-radius: 16px;

  @include mixin.screen-max-width-991 {
    flex: 1 1 100%;

  }

}

.trends-big-item {
  min-height: 327px;

}

.trends-items {
  gap: 48px;
  flex-wrap: wrap;
}

.icon-trends {
  font-size: 26px;
  background: variables.$white;
}

.trends-info {
  margin-top: 24px;
}


.trends-text {
  margin-top: 8px;
}

.trends-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: variables.$gray2;
}

.trends-btn {
  width: max-content;
  margin-top: 48px;

  @include mixin.screen-max-width-576{
    width: 100%;
    margin-top: 24px;
  }

}


.about-us-section {
  margin-top: 80px;
  padding-bottom: 120px;

  @include mixin.screen-max-width-576{
    padding-bottom: 40px;

  }
}

.about-us-items {
  gap: 48px;
  flex-wrap: wrap;
  margin-top: 48px;
}

.about-us-item {
  flex: 1 1 46%;
  padding: 32px;
  background: radial-gradient(250.02% 460.69% at 72.62% -40.65%, #444CE7 0%, rgba(0, 0, 0, 0) 20%);
  border: 1px solid variables.$gray;
  border-radius: 16px;

  @include mixin.screen-max-width-991 {
    flex: 1 1 100%;
    background: radial-gradient(250.02% 360.69% at 72.62% -40.65%, #444CE7 0%, rgba(0, 0, 0, 0) 20%);

  }
}

.about-us-title {

  span {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: variables.$gray3;
  }
}